{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Hi y'all, I'm <strong>{{ .Site.Params.author }}</strong>, Software Engineer and amateur cook.</h3>
        <h3>Originally from Puerto Rico, currently living in Austin, TX.</h3>
        <h3>I mostly write iOS apps, but I dabble in other things.</h3>
        <h3>I'm currently looking into <a href="http://elixir-lang.org">elixir</a> and <a href="http://phoenixframework.org">phoenix</a> and alexa skills.</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Social.twitter }}">@{{ .Site.Social.twitter }}</a> or by <a href="mailto:{{ .Site.Social.email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
